@import 'reset.css';
@import 'variables.css';
@import 'typography.css';
@import 'layout.css';
@import 'components.css';

/* =========================================================
   # HEADER
   ========================================================= */

.vance-header {
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-border);
}

/* =========================================================
   # NAVIGATION
   ========================================================= */
.vance-nav {
    min-height: 80px;
    gap: var(--space-8);
}

/* =========================================================
   # LOGO
   ========================================================= */
.logo {
    flex-shrink: 0;

    color: var(--color-text-inverse);
    font-size: var(--font-size-xl);
}

.logo span {
    color: var(--color-primary-light);
}

/* =========================================================
   # NAVIGATION LIST
   ========================================================= */
.vance-nav-list {
    margin: auto;
}

.vance-nav-list a {
    text-decoration: none;
    color: var(--color-text-inverse);

    font-size: var(--font-size-sm);
    font-weight: 500;

    transition: color 0.2s ease;
}

.vance-nav-list a:hover {
    color: var(--color-primary-light);
}

/* =========================================================
   05. NAVIGATION ACTIONS
   ========================================================= */
.nav-actions {
    display: flex;
    align-items: center;

    flex-shrink: 0;
}

.nav-actions .btn {
    color: var(--color-text-inverse);
}

.nav-actions i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: var(--font-size-4xl);
    height: var(--font-size-4xl);
}

.nav-actions .cart-count-container {
    position: relative;
}

.nav-actions .cart-count-container .cart-count {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: red;
    color: inherit;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: var(--font-size-xs);
    padding: var(--space-2);
}

.nav-actions .btn {
    padding: 0px;
}

/* = HAMBURGER = */
.vance-menu-toggle {
    display: none;
}

.vance-mobile-nav-list{
    display: none;
}

/*---------------- 
# SECTION HERO 
-----------------*/
main{
    background-color: var(--color-background);
}
/*---------------- 
# SECTION HERO 
-----------------*/
.hero-section {
    min-height: calc(100vh - 80px);
}

.hero-section-container{
    align-items: center;
    justify-content: center;
}

.hero-content{
    max-width: 50%;
}

.hero-content p{
    color: var(--color-text);
    padding-top: var(--space-2);
    padding-bottom: var(--space-5);
    max-width: 75%;
}

.hero-content a{
    color: var(--color-text-inverse);
}

.hero-content a:hover{
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
}

.hero-content .free-ship{
    padding-left: var(--space-6);
}

.hero-image {
    max-width: 50%;
    
    display: flex;
    flex-direction: row;
    align-items: end;
    overflow: hidden;
}


.hero-image img{
    height: fit-content;

    /* background-color: var(--color-primary); */
    /* border: 2px dashed var(--color-primary); */
    z-index: 2;
}


/* 
# section-shop-category
*/

.section-shop-category{
    background-color: var(--color-primary-dark);
}

.shop-category-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--space-8);
}

.shop-category-header h2,h3, p{
    color: var(--color-text-inverse);
}

.shop-category-header .header-title h3{
    padding-bottom: var(--space-2);
}

.shop-category-grid .card{
    border-radius: 0px;
    text-align: center;
    color: var(--color-text-inverse);
}

.shop-category-grid .card h4{
    color: var(--color-text-inverse);
}


/* 
# Find Your Fit
*/
.find-your-fit .header .header-title h3{
    color: var(--color-text);
}

.find-your-fit .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.find-your-fit .shop-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

.find-your-fit .grid{
    margin-top: var(--space-10);
    gap: var(--space-6);
}

.find-your-fit .card-content{
    display: flex;
    flex-direction: column;
}

.find-your-fit .card-content .sub-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
# Best Sellers
*/
.best-sellers{
    background-color: var(--color-primary);
}

.best-sellers .header .header-title h3,h2{
    color: var(--color-surface);
}

.best-sellers .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-sellers .shop-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

.best-sellers .grid{
    margin-top: var(--space-10);
    gap: var(--space-6);
}

.best-sellers .card-content{
    display: flex;
    flex-direction: column;
    
}

.best-sellers .card-content .sub-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-sellers .btn-outline{
    background-color: var(--color-surface);
}

/* ========================================================= MOBILE ========================================================= */
@media (max-width: 768px) {

    /* Hide desktop navigation */
    .vance-nav-list {
        display: none;
    }

    .vance-mobile-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .vance-mobile-nav-list li {
        padding-block: var(--space-3);
    }

    .vance-mobile-nav-list a {
        color: var(--color-text-inverse);
    }

    .nav-actions i {
        font-size: var(--font-size-xl);
    }


    /* Show hamburger */
    .vance-menu-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    /* Mobile menu */
    .vance-mobile-menu {
        display: none;
    }

    .vance-mobile-menu.is-open {
        display: block;
    }
}